/* bootstrap assistance*/
/*
.my-container{
              border: 1px solid green;
          }

.my-column{
              border: 2px dotted blue;
          }

.my-row{
              border: 3px solid red;
          }

.my-box{
              border: 1px dotted olive;
          }
*/
/* NAV bar */

.header
{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar-brand span
{
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 10px;
}

.logo
{
    width: 150px;
    margin:-12px;
    margin-left: -5px;
}

.nav-item
{
  font-weight: 700;
  text-transform: uppercase;
  border-right-style: solid;
  border-right-width: thin;
  padding-right:10px;
  padding-left: 10px;
}

.navbar-light .navbar-nav
{
  border-left-style: solid;
  border-left-width: thin;
  color: #99EEFF;
}


.navbar-light .navbar-nav .nav-item .nav-link:hover
{
  color: #000099;
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-item .active
{
  color: #4D88FF;
  text-decoration: underline;
}

.navbar-toggler
{
  color: #4D88FF;
  border: 2px solid #4D88FF;
  border-radius: 0;
  outline: none;
}

/*Index file*/

.carousel-item
{
  height:350px;
}

/* About Us page */

.card-group
{
    margin-top: 25px;
}


/* Contact Us page */

.contact .content
{
    max-width: 800px;
    text-align: center;

}

.contact .content h2
{
  font-size: 36px;
  font-weight: 700;
  color: #000099;
  text-decoration: underline;
}

.contactContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contactContainer .contactInfo .row
{
  margin-top: 25px;
  background-color: white;
}

.contactContainer .contactInfo .box
{

  box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.5);
}

.contactContainer .contactInfo .box .icon
{
  position: relative;
  display: flex;
}

.contactContainer .contactInfo .box .icon
{
  justify-content: center;
  font-size: 25px;
  border-radius: 200px 200px 200px 200px;
  border: 2px solid #000000;
  max-width: 60px;
  height: 60px;
  align-items: center;

}
